<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/jquery/jquery-1.11.1-min.js}"></script>
<script type="text/javascript" th:src="@{/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
<link th:href="@{/jquery/bs_pagination/jquery.bs_pagination.min.css}" type="text/css" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/jquery/bs_pagination/en.js}"></script>
<script type="text/javascript" th:src="@{/jquery/bs_pagination/jquery.bs_pagination.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">student集合</h1>
<hr>
<table style="text-align: center;font-size: 20px" class="table table-striped" align="center">
    <tr>
        <td >
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                新建学生
            </button>
        </td>
        <td colspan="3">
            <form class="form-inline" method="get" action="/student/all2">
                <div class="form-group">
                    <label for="exampleInputName2">名字</label>
                    <input type="text" name="queryName" class="form-control" id="exampleInputName2" placeholder="模糊查询名字">
                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <label for="exampleInputEmail2">年龄</label>
                    <input name="ageStart"  style="width: 50px" type="text" class="form-control" id="exampleInputEmail2" >
                    ➖<input name="ageEnd"  style="width: 50px" type="text" class="form-control" id="exampleInputEmail3" >
                </div>
                <button  type="submit" class="btn btn-primary">查询</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>ID</td>
        <td>名字</td>
        <td>年龄</td>
        <td>操作</td>
    </tr>

    <div th:each="student,studentStat:${list}">
        <tr><span th:if="${pageStart<=studentStat.index}">
            <span th:if="${studentStat.index<=pageEnd}">
            <td><span th:text="${student.id}"></span></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.age}"></td>
            <td><a th:href="'/student/all1?id='+${student.id}"><button class="button btn-danger">删除</button></a></td>
            </span>
            </span>
        </tr>
    </div>
</table>


<div align="center" style="height: 40px; position: relative;top: 10px ">
    <div id="activityPage"></div>
</div>
<script type="text/javascript" th:inline="javascript">
    pageInfo([[${page}]], [[${pageSize}]]);

    function pageInfo(page, pageSize) {
        $("#activityPage").bs_pagination({
            currentPage: page, // 页码
            rowsPerPage: pageSize, // 每页显示的记录条数
            maxRowsPerPage: 20, // 每页最多显示的记录条数
            totalPages: [[${totalPages}]], // 总页数
            totalRows: [[${total}]], // 总记录条数
            visiblePageLinks: 5, // 显示几个卡片
            showGoToPage: true,
            showRowsPerPage: true,
            showRowsInfo: true,
            showRowsDefaultInfo: true,
            //回调函数，用户每次点击分页插件进行翻页的时候就会触发该函数
            onChangePage: function (event, obj) {
                //刷新页面，obj.currentPage:当前点击的页码
                page2(obj.currentPage, obj.rowsPerPage);
            }
        });

        function page2(page, pageSize) {
            location.href = "/student/all2?page=" + page + "&pageSize=" + pageSize+
            "&queryName=" + [[${query.queryName}]]+"&ageStart=" + [[${query.ageStart}]]+"&ageEnd=" + [[${query.ageEnd}]];
        }
    }

</script>
</body>
</html>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <form method="post" action="/student/all3">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">姓名:</label>
                        <input class="form-control" type="text" name="name"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">年龄:</label>
                        <input type="text" class="form-control" name="age"/>
                    </div>
                    <input class="btn btn-success" type="submit">
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>